 html,body,pre{
	margin:0;
	padding:0;
	border:0;
}
body{
	font:12px/1.14 "Consolas",monospace;
	color:#333;
	background:#F7F7F7;
}
.demo{
	position:relative;
	top:70px;
	margin:100px auto;
	width:600px;
	height:200px;
}
.monster{
	position:absolute;
	top:60px;
	margin-left: 20px;
	width:40px;
	height:42px;
	padding:0;
	text-align:center;
	
}
/* 跑步动画名称 */
@-webkit-keyframes person-xfast{/* 超快 */
    0% {background-position: 0 0;}
    50% {background-position: -57px 0;}
    100% {background-position: 0 0;}
}
/* 跑步动作频率控制 */
.xfast .monster{/* 超快 */
-webkit-animation-name: person-xfast;
-webkit-animation-duration: 200ms;
}
.wait{
	background: url(./images/wait.png);
	-webkit-animation-iteration-count: 0;
}
.run{
	background: url(./images/jumping.png);
	-webkit-animation-iteration-count: infinite; /*动画无限播放 */
	-webkit-animation-timing-function:step-start;/* 马上跳到动画每一结束桢的状态 */
}
.fly{
	background: url(./images/flying.png);
	-webkit-animation-iteration-count: 0;
}
.over{
	background: url(./images/afraid.png);
	-webkit-animation-iteration-count: 0;
}
/* 背景样式 */
.way{
	overflow:hidden;
	width:600px;
	margin:100px auto;
}
ul{
	list-style:none;
}
li{
	float:left;
}
.wayul1{
	width:7200px;
}
.wayli1{
	margin-left: -90px;
}
.wayli2{
	margin-left: -41px;
}

/* 植物样式 */
.plantway{
    height: 54px;
    width: 600px;
    position: relative;
    top: -173px;
    overflow:hidden;
}
.plant1{
	width:32px;
	height:33px;
	position: absolute;
    top: 21px;
    left: 600px;
}
.plant2{
	width:15px;
	height:33px;
	position: absolute;
    top: 21px;
    left: 1000px;
}
.plant3{
	width:23px;
	height:46px;
	position: absolute;
    top: 6px;
    left: 1500px;
}
.plant4{
	width:49px;
	height:33px;
	position: absolute;
    top: 21px;
    left: 2000px;
}

/* 计分&游戏结束 */
.scoreText,.scoreBest{
	color:#535353;
    height: 20px;
    line-height: 20px;
    width: 90px;
    position: absolute;
    top: -22px;
    right: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.scoreBest{
	right: 80px;
}
.overIcon{
	width:36px;
	height:32px;
	position: absolute;
    top: 31px;
    left: 50%;
    margin-left: -18px;
	background: url(./images/restart.png);
}
.overText{
	width:193px;
	height:13px;
	position: absolute;
    top: 0px;
    left: 203px;
	background: url(./images/gameover.png);
}